@import "tailwindcss";

@theme {
  --font-sans: var(--font-lato), ui-sans-serif, system-ui, sans-serif;
  --color-primary : #353535;
  --color-primary-hover : #121112;

  --color-text-main: #111827;
  --color-text-secondary: #6B7280;
  --color-border: #111827;
  --color-bg-light: #F9FAFB;
  --color-accent: #F59E0B;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
}


@media (max-width: 768px) {
  .rdrMonths {
    flex-direction: column !important;
  }
}

.leaflet-container {
  z-index: 1 !important; /* Force it to the background */
  position: relative;
}